html{
    font-size: 62.5%;
}

.Header-app{
    display: flex;
    flex-direction: column;
}
.Header-app h1{
    font-size: 5rem;
}

.Amarillo{
    background-color: #FFFFCC;;
}
.Rojo{
    background-color: #EC7063;
}

.btnss{
    background-color: #111;
    border: 0rem;
    color: white;
}